In [0]:
import pandas as pd

In [2]:
df = pd.read_csv('FinalData_Avi_Kasliwal.csv')
df.head()

   Unnamed: 0  Player_ID   Player Name  ...  2018  2019  Total Runs
0           0       2601  Aamer Hameed  ...   0.0   0.0         0.0
1           1       2602   Aamer Hanif  ...   0.0   0.0        89.0
2           2       1068   Aamer Malik  ...   0.0   0.0       556.0
3           3       4480   Aamer Yamin  ...  32.0   0.0        95.0
4           4       1259   Aamir Nazir  ...   0.0   0.0        13.0

[5 rows x 55 columns]

In [0]:
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [4]:
df.head()

   Player_ID   Player Name Player_country  1970  ...  2017  2018  2019  Total Runs
0       2601  Aamer Hameed       Pakistan   0.0  ...   0.0   0.0   0.0         0.0
1       2602   Aamer Hanif       Pakistan   0.0  ...   0.0   0.0   0.0        89.0
2       1068   Aamer Malik       Pakistan   0.0  ...   0.0   0.0   0.0       556.0
3       4480   Aamer Yamin       Pakistan   0.0  ...   0.0  32.0   0.0        95.0
4       1259   Aamir Nazir       Pakistan   0.0  ...   0.0   0.0   0.0        13.0

[5 rows x 54 columns]

In [6]:
df.iloc[:, 3: 53] = df.iloc[:, 3: 53].cumsum(axis = 1)
df.head()

   Player_ID   Player Name Player_country  ...   2018   2019  Total Runs
0       2601  Aamer Hameed       Pakistan  ...    0.0    0.0         0.0
1       2602   Aamer Hanif       Pakistan  ...   89.0   89.0        89.0
2       1068   Aamer Malik       Pakistan  ...  556.0  556.0       556.0
3       4480   Aamer Yamin       Pakistan  ...   95.0   95.0        95.0
4       1259   Aamir Nazir       Pakistan  ...   13.0   13.0        13.0

[5 rows x 54 columns]

In [0]:
df.drop('Player_ID', axis = 1, inplace = True)

In [8]:
df.head()

    Player Name Player_country  1970  1971  ...   2017   2018   2019  Total Runs
0  Aamer Hameed       Pakistan   0.0   0.0  ...    0.0    0.0    0.0         0.0
1   Aamer Hanif       Pakistan   0.0   0.0  ...   89.0   89.0   89.0        89.0
2   Aamer Malik       Pakistan   0.0   0.0  ...  556.0  556.0  556.0       556.0
3   Aamer Yamin       Pakistan   0.0   0.0  ...   63.0   95.0   95.0        95.0
4   Aamir Nazir       Pakistan   0.0   0.0  ...   13.0   13.0   13.0        13.0

[5 rows x 53 columns]

In [0]:
df.to_csv('FinalData_Cum_Avi_kasliwal.csv')